// Selected Query
.c-selected {
    padding-top: 15px;
    text-align: center;
    .c-query {
        display: inline-block;
        color: #fafafa;
        font-size: 15vw;
        font-weight: 900;
        letter-spacing: 3px;
        cursor: default;
        &:after {
            content: '';
            width: 100%;
            height: 5px;
            background-color: $c-accent;
            display: block;
            margin-top: 10px;
            border-radius: 5px;
        }
    }
    .o-digifriend {
        display: inline-block;
        background-color: #fafafa;
        border-radius: 50%;
        margin: 5px;
        height: 50px;
        width: 50px;
        text-align: center;
        padding-top: 19px;
        font-weight: 400;
        color: $c-neutral--dark;
        transition-duration: 1.5s;
        transition-timing-function: ease-out;
        transition-property: transform, box-shadow;
        backface-visibility: hidden;
        font-size: 13px;
        cursor: default;
        &:hover {
            transition-timing-function: cubic-bezier(0.18, 0.89, 0.47, 1.32);
            transform: scale(1.5);
            transition-duration: .3s;
            box-shadow: 0 0 10px -3px black;
        }
        &.o-digifriend--no-friend {
            font-size: 32px;
            padding-top: 11px;
            &:after {
                content: 'This number doesn\'t have any digifriend :(';
                background: $c-neutral--dark;
                color: $c-neutral--light;
                font-size: 16px;
                line-height: 17px;
                display: block;
                padding: 10px 20px;
                width: 200px;
                margin-left: -95px;
                margin-top: 20px;
            }
        }
    }

    .c-digifriends {
        margin: 0 auto;
        padding: 30px 10px 100px;
        text-align: center;
        height: calc(80vh - 240px);
        display: block;
        -webkit-overflow-scrolling: touch;
        overflow: scroll;
    }
}
